body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}

.high-contrast {
    background-color: black;
    color: yellow;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

body {
    background-image: url('fundo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Cor preta com 30% de opacidade */
    z-index: -1; /* Coloca o overlay atrás do conteúdo */
  }